<div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="pull-left">Property cross</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
            <form ng-submit="ctrl.go()">
                <input type="text" class="form-control" placeholder="example: newcastle" ng-model="ctrl.options.place_name">
                <button type="submit" class="btn btn-default">Go</button>
            </form>
        </div>
    </div>
    <div class="row" ng-repeat="cross in ctrl.crosses">
        <div class="col-md-12">
            <h4>{{ cross.title }}</h4>
            <p>{{ cross.text | crosscut }}</p>
            <a ui-sref="crosses.cross({id:cross.id})">Read</a>
        </div>
    </div>
</div>